table {
  background-color: var(--color-default-dark);
  border-spacing: medium;
  width: 100%;
}

table thead tr th {
  color: var(--color-default-light);
  padding: 0.5rem;
  text-align: left;
  text-transform: uppercase;
}

table tbody tr td {
  background-color: var(--color-default-light);
  padding: 0.5rem;
  text-align: left;
}
